@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;1,100&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #f56d91;
  --dark: #8d8daa;
  --light: #f7f5f2;
  --tertiary: #dfdfde;
  --pure: #ffffff;
  --mix: #8479e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 80px;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 10px 10px 22px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 22px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 22px 7px rgba(0, 0, 0, 0.7);
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 1rem;
}

#user-info {
  cursor: pointer;
}
.card {
  /* width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  border-radius: 10px;
  box-shadow: 10px 10px 22px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 10px 22px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 10px 10px 22px 7px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 2; */
}
